{
    "parserOptions": {
      "ecmaVersion": 6
    },

    "extends": [
      "plugin:prettier/recommended"
    ],

    "plugins": ["prettier"],

    "rules": {
      "prettier/prettier": "error"
    }
}
